.processSidebar{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.process-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.process-grid-three{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.process-view{
    width: 90%;
}