.dropdown-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.dropdown-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
}

.dropdown-icon-active{
    transform: rotate(180deg);
    cursor: pointer;
}

.dropdown-icon{
    cursor: pointer;
}

.dropdown-content{
    width: 100%;
    display: none;
}
.dropdown-content-active{
    width: 100%;
    display: inline-block;
}
