.login-form{
    margin: 100px auto;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    width: 80%;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}